<html>
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>

	<body>

		<h1 align="center" class="alert alert-success"> <%= headline %> </h1>	

		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>