<html>
	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<% include partials/menu.ejs %>
		<div class="container">
			<% include partials/headline.ejs %>
			<div class="row">
				<div class="col-md-12">
					<img src="/images/berlin/berlin-1.jpg">
				</div>
			</div>
		</div>
		<% include partials/jsIncludes.ejs %>
	</body>
</html>